body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
  }
  h2 {
    color: #007acc;
  }
  ul {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
  li {
    margin-bottom: 8px;
  }