/* Required to know */

/* Container */
.container {
  grid-template-rows: none;
  grid-template-columns: none;
  column-gap: normal;
  row-gap: normal;
}

/* Children (Grid Items) */
.children {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
}
/* optional to know */

/* Container */
.container {
  grid-template-areas: none;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-auto-flow: row;
}
