/* li#ff.ab{
    background-color: chocolate;
}
#ff#ff#ff#ff#ff{background-color: silver;}

.ab{
    background-color: greenyellow;
}
.ab{
    background-color: beige;
}

li{background-color: green;
color: darkviolet;}
li{background-color: blue; 
color: black;}                                                                                                                                                        
li{background-color: brown;}
li{
    background-color: blueviolet;
} */
.ab{background-color: aqua  ;}