.container {
  text-align: center;
  margin-top: 50px;
}

/* Common box style */
.box {
  padding: 15px;
  width: 200px;
  margin: auto;
  background-color: #f5f5f5;
}

/* Error style only when true */
.error {
  border: 2px solid red;
  color: red;
}

.userLogin {
  color: green;
  font-size: 22px;
  font-weight: bold;
}
