
li#ff{
    background-color: crimson !important;
}
li{
    background-color: blue !important;
}
li{background-color: yellowgreen !important; }
#ff{background-color: blueviolet;}
.ab{background-color: aqua;} 
li{
    background-color: bisque}
li{
    background-color: green;
} 