.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img {
  width: 100%;
}
.card-content {
  padding: 3.2rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.super_hit {
  background-color: green;
}

.average {
  background-color: yellow;

}

.rating {
  padding: 0.3rem 1.8rem;
  color: #000;
  margin-left: 1.2rem;
  border-radius: 100rem;
  
}