/* #html{
    background-color: green;
    font-size: 90px;
} */

/* inheritance */

/* body{
    color: teal;
}
ul{
    font-size: 32px;
    font-weight: 900;
    font-family: cursive;
    font-style: italic;
    background-color: lightblue;
}
button{
   font-family: inherit;
} */